html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

div.greyModal {
    opacity: 0.7;
    background-color: grey;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  div.modalContent {
    padding: 20px;
    opacity: 1;
    position: fixed;
    width: 75%;
    left: 50%;
    margin-left: -37.5%;
    height:300px;
    background-color: white;
    border: solid 4px black;
    border-color: black;
  }

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid lightgray;
    transform: scale(1);
    transition: transform 0.1s ease-out;
    margin: 0 10px;
}

.fighter:hover,
.fighter.selected {
    border: 2px solid orange;
    transform: scale(1.1);
    transition: transform 0.1s ease-in;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

.modal-close-icon {
    position: absolute;
    right: 10px;
    top: 5px;
}

button {
    background-color: brown;
    color: white;
    border-radius: 0;
    border: none;
}

.details-btn {
    height: 30px;
    font-size: 14px;
}

form{
    padding-left: 30%;
    font-size: 20px;
}

input[type=text] {

    border: none;
    border-bottom: 2px solid brown;
    width: 50%;
  }

  input[type=button], input[type=submit], input[type=reset] {
    background-color: brown;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

.fight-btn {
    width: 300px;
    height: 50px;
    font-size: 20px;
    margin: 0 auto;
}

.winner-label {
    padding-top: 7%;
    font-size: 40px;
    color: brown;
    text-align: center;
}
